# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Vercel & local deploy configs
.vercel
.next
dist/
.cache/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
